.input-box {
  text-align: center;
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

input {
  text-align: center;
  padding: 8px;
  width: 180px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 14px;
  border: none;
  background-color: #fbcd61;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.todo-list li {
  background: #f2f2f2;
  padding: 10px;
  width: 260px;
  border-radius: 5px;
  margin: 8px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.del-btn {
  background: red;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}
.App{
  text-align: center;
}
.App header {
  

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;

}
